.image {
    height: 100px;
}
.product_name{
    text-overflow: ellipsis;
    overflow: hidden;        
    white-space: nowrap;
}
.item-def {
    font-size: .81em;
    color: rgb(58, 58, 58);
}
.item-name {
    font-size: 1em;
    color: rgb(12, 12, 12);
}
.smalltext {
    margin: 0;
    font-size: .91em;
}
.cardsep {
    height: 1px;
    background-color: rgb(210, 210, 210);
    width: 100vw;
}
.mid {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}
.circle{
    border-radius: 40px;
    background-color: white;
    width: 50px;
    height: 50px;
}
.imgwidth{
    width: 25px;
}
