<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-app>
  <!-- <ngx-spinner bdOpacity='0.3' bdColor="#fff" size="medium" color="#b0ca1f" type="ball-fussion"
    [ngClass]='side_menu_open ? "left_side_menu" : right_side_menu_open ? "right_side_menu" : ""'>
    <p style="color: #b0ca1f"> Loading... </p>
  </ngx-spinner> -->
  <ngx-spinner bdOpacity='0.3' bdColor="rgba(81,81,81,0.15)" size="medium" color="#b0ca1f" type="ball-clip-rotate"
    [ngClass]='side_menu_open ? "left_side_menu" : ""' >
    <p style="color: #b0ca1f"> Loading... </p>
  </ngx-spinner>
    <ion-router-outlet main></ion-router-outlet>
   
</ion-app>