<ion-header class="mybg">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start" style="margin-right: 10px;">
            <ion-img class="imgwidth" src="assets/images/apexicon.png"></ion-img>
        </ion-buttons>
        <!-- <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons> -->
        <ion-title color="light"><strong>{{catTitle}}</strong></ion-title>
        <ion-buttons slot="end">
            <!-- <ion-icon name="more" slot="icon-only" (click)="moreoption($event)" color="light" margin></ion-icon> -->
            <img src='assets\images\more.png' slot="icon-only" (click)="moreoption($event)" color="light" margin style="height: 20px;margin: 8px;" />
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="mid" *ngIf="showMsg">
    <ion-row size="12" justify-content-center disabled="true">
      <button class="circle" (click)="reloadpage()">
          <ion-icon name="sync" size="large"></ion-icon>        
      </button>
    </ion-row>
    <ion-row size="12" justify-content-center disabled="true">
      <ion-text><strong>No internet connection available</strong></ion-text>
      <ion-text><strong>Please connect to internet and try again</strong></ion-text>
    </ion-row>
  </div> -->
    <!-- <div *ngIf='!showMsg'>  -->
    <div class="text-center " *ngIf="!fun.networkStatus">
        <img src="assets/images/no-internet.jpg">
    </div>

    <div *ngIf="fun.networkStatus">
        <ion-row>
            <ion-col *ngFor="let list of installationList; let j = index;" size-lg="12" size-md="12" size-sm="12" size-xs="12" no-padding>
                <mat-card class="card" no-margin>
                    <div class="imgsize">
                        <iframe style="width: 100%; height: auto;" [src]="getvalue(list.path)" frameborder=" 0 " allow="accelerometer; encrypted-media; gyroscope; " allowfullscreen></iframe>
                    </div>
                    <mat-card-content>
                        <div class="box ">
                            <mat-card-title class='text'>{{list.product_name}}</mat-card-title>
                        </div>
                        <mat-card-subtitle text-center class="inline ">{{list.product_code}}</mat-card-subtitle>
                    </mat-card-content>
                </mat-card>
            </ion-col>
        </ion-row>
    </div>
</ion-content>


<ion-fab vertical="bottom " horizontal="end " slot="fixed " class="position ">
    <ion-fab-button (click)="fun.back() " class="btnsize " color="mytheme ">
        <!-- <ion-icon name="share-alt "  class="rotateCss " color="light "></ion-icon> -->
        <img src='assets\images\back-btn.png' class="rotateCss " style="width: 15px; " alt="Back " color="light ">
    </ion-fab-button>
</ion-fab>